<div class="success-container">
  <div class="success-card">
    <div class="icon-success-wrapper">
      <i class="pi pi-check-circle success-icon"></i>
    </div>
    
    <span class="telemetry-tag">TELEMETRÍA DE PEDIDO: CONFIRMADA</span>
    <h1>¡COMPRA INYECTADA CON ÉXITO!</h1>
    <p class="success-desc">Tu orden ha sido procesada y enviada a la línea de ensamblaje de 7VOLTEX.</p>

    <div class="ticket-box">
      <div class="ticket-row">
        <span>ID de Transacción:</span>
        <span class="highlight-text">#VX-98421</span>
      </div>
      <div class="ticket-row">
        <span>Pasarela de Pago:</span>
        <span>PayPal / Tarjeta Segura</span>
      </div>
      <div class="ticket-row">
        <span>Estado en Pits:</span>
        <span class="status-active">● Preparando Envío</span>
      </div>
    </div>

    <div class="action-buttons">
      <button class="btn-primary" routerLink="/usuario">
        <i class="pi pi-user"></i> Ver en Historial de Piloto
      </button>
      <button class="btn-secondary" routerLink="/productos">
        <i class="pi pi-shopping-bag"></i> Regresar al Catálogo
      </button>
    </div>
  </div>
</div>

<app-footer-usuario></app-footer-usuario>